.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    line-height: 1.2;
}

.subtext {
    color: #9282EC;
    font-size: 1.6rem;
}

.subtext span {
    color: #E54D4D;
}

.main-text {
    font-size: 5.4rem;
    text-align: center;
}

.terminal-wrapper {
    width: 35%;
    margin-top: 5%;
    position: relative;
}

.terminal {
    height: 100%;
    width: 100%;
    padding: 35px;
    z-index: 1;
    position: inherit;
    border-radius: 0.5rem;
}

.gradient-bg {
    height: 100%;
    width: 100%;
    background: linear-gradient(to top right, #A124CD 0%, #2490CD 100%, #24CDB9);
    filter: blur(50px);
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    /* transform: scale(1.05); */
    animation-name: moving-gradient;
    animation-duration: 4s;
    /* transition: ease; */
}

@keyframes moving-gradient {
    from {transform: scale(1.01);}
    to {transform: scale(1.05);}
}


.cmd {
    color: #878787;
    font-weight: 600;
}

.cmd span {
    color: #E54D4D;
}

.output {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-around;
}

.output img {
    height: 225px;
}

.stats {
    color: #ca788b; 
}

.stats li {
    font-weight: 600;
    list-style: none;
}

.stats a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.stats > * {
    margin-top: 5px;
}